table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
th {
  font-weight: bold;
  border-bottom: 3px solid #ddd;
  padding-bottom: 0.5em;
}
td {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}
